.body{
background-color: black;
}
.productCard{
 width: 50%;
 display:flex;
margin-left: 5px;
}
.gridContainer{
    border:4px solid rgb(255, 255, 92);
    border-radius: 10px;
    color: rgb(255, 255, 92) ;
    box-shadow:0px 10px 100px 5px ;
}

.title{
    display: flex;
    justify-content: center;
    
}