.productContainer {
  margin-top: 70px;
  transition: 0.5s ease;
  /* margin-bottom: 70px; */
  /* display: flex; */
}
.productContainer:hover {

  /* box-shadow: 6px 6px; */
  border-radius: 2%;
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 30, 255, 0.9);

}

.productCard {
  max-width: 280px;
  /* margin-top: 20px; */
}

.typography {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}


.center{
  display:flex;
  justify-content:center;

}